{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="flex flex-col items-center justify-center ">
    <div class="bg-white p-8 rounded-lg ">
    <p class="text-lg font-bold mb-4">User Profile</p>
    <p class="mb-2">User name: {{user.get_username}}</p>
    <p class="mb-2">First name: {{user.first_name}}</p>
    <p class="mb-2">Last name: {{user.last_name}}</p>
    <p class="mb-2">Email: {{user.email}}</p>
    <p class="mb-2">Last join: {{user.last_login}}</p>
    <p>Date joined: {{user.date_joined}}</p>
  </div>
</div>  

{% endblock content %}