{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="flex flex-col items-center justify-center ">
    <div class="bg-white p-8 rounded-lg ">
    <p class="text-lg font-bold mb-4">Mon Profil</p>
    <p class="mb-2">Nom d'utilisateur : {{user.get_username}}</p>
    <p class="mb-2">Prénom : {{user.first_name}}</p>
    <p class="mb-2">Nom de famille : {{user.last_name}}</p>
    <p class="mb-2">E-mail : {{user.email}}</p>
    <p class="mb-2">Dernière connexion : {{user.last_login}}</p>
    <p>Date d'inscription : {{user.date_joined}}</p>
  </div>
</div>  

{% endblock content %}