{% extends 'base.html' %}


{% block content %}
<div class='container' style= "
width: 1100px;
height: 400px;

position: absolute;
top:0;
bottom: 0;
left: 0;
right: 0;

margin: auto;
">



<h1 style="color:rgb(44, 44, 90); font-weight: 700;">
  <i class="fa-solid fa-paper-plane"></i> Mail sent ... 
</h1>
<br>
<br>
  <p>
    Nous vous avons envoyé par e-mail les instructions pour redéfinir votre mot de passe, <font color="red">sur l'adresse mail donnée lors de l'enregistrement.</font> 
    Vous devriez les recevoir sous peu.
  </p>
  <p>
    Si vous ne les avez pas reçues, merci de vérifier qu'il s'agit bien d'une adresse valide et vérifiez également vos spams.
  </p>

</div>

{% endblock %}